*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(230deg, #558B6E, #E0EDC5);
    font-family: 'Poiret One', cursive;
}



header,form, .list-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    font-size: 3rem;
    height: 35vh;
    color:#4B5C4E;
    text-shadow: -1px 0px #E0EDC5;
}


form{
    border-top: #558B6E solid 1px;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
    width: 500px;
}

.input-section{
    background-color: none;
    border: solid 1px #E0EDC5;
    border-radius: 50px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,button{
    border: none;
}

#add{
    font-size: 22px;
    color: #4B5C4E;
}

input{
    width: 300px;
    height: 50px;
    outline: none;
    background-color: transparent;
    color: #4B5C4E;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    font-size: 23px;
}

.add{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E0EDC5;
}

.add:hover{
    cursor: pointer;
}


/*growing list section */
.list-section{
    width: 500px;
    min-height: 100px;
    margin: auto;
    padding-bottom: 30px;
    border: solid 1px #558B6E;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.list{
    width: 500px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.listDiv{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: #E0EDC5 3px solid;
    color: #4B5C4E;
}

.list-text{
    font-size: 25px;
    font-weight: 600;
    list-style: none;
    flex: 1; 
    margin: 0 0 0 5px;   
}

.listButton, .miniListButton{
    width: 25px;
    height: 25px;
    margin: 2px;
    background:none;
    font-size: 15px;
    color: #4B5C4E;
}

.listButton:hover, .miniListButton:hover{
    cursor: pointer;
    background-color: #E0EDC5;
    border-radius: 50%;
    transition: .25s;
}


#check, #remove, #details, #miniCheck, #miniRemove{
    pointer-events: none; 
}

.completedItem{
    font-size: 25px;
    color: #E0EDC5;
    background-color: #558B6E;
    border: #558B6E 3px solid;
    box-shadow: 6px 6px #47745c;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completedButton{
    font-size: 25px;
    color: #E0EDC5;
    background-color: #558B6E;
    padding: 0 5px;
}


.completedItem .remove, .completedItem .closed{
    pointer-events: none;
    color: #558B6E;
}


.detailsDiv{
    width: 400px;
    margin: 5px;
    background-color: #4B5C4E;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #E0EDC5;
    font-size: 23px;
    box-shadow: 6px 6px #3b483d;
}

.why-div, .miniGoals-div{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 8px 0 0 20px;
}


.miniInput, .whyInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E0EDC5;
    width: 365px;
    margin-top: 5px;
    border-radius: 8px;
}

.whyInput{
    height: 75px
}
.miniInput{
    height: 40px;
}

.whyText, .miniText{
    background: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    color: #3b483d;
    width: 350px;
    height: inherit;
    padding-left: 8px;
}

textarea{
    overflow:hidden;
    border: none;
    resize: none;
}

.setReasonDiv{
    outline: 1px solid #aabc85;
    background-color: #aabc85;
}
.setReason{
    background: #4B5C4E;
    color: #E0EDC5;
    overflow:auto;
}

.setReason::-webkit-scrollbar{
    background-color: #4B5C4E;
    width: 5px;
}

.setReason::-webkit-scrollbar-thumb{
    background-color: #E0EDC5;
    height: 10px
}

.active{
    color: blue;
    transition: 1s;
   transform: rotate(45deg); 
}


#miniAdd, #whyAdd{
    font-weight: 600;
    font-size: 30px;
    color: #4B5C4E;
    cursor: pointer;
    width: 40px;
    display: flex;
    justify-content: center;
}

.miniList{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 0 0;
}

.miniItemsContainer{
    width: 75%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0 0 0;
}

.miniListText{
    flex: 1;
    overflow: hidden;
    font-size: 22px;
    margin-left: 8px;
   
}

.miniListButton{
    color: #E0EDC5;
}

.miniListButton:hover{
    background-color: #3b483d;
}

.miniCompletedItem{
    background-color: #aabc85;
    color: #4B5C4E;
    box-shadow: 3px 3px #8a996d;
    transition: .2s;
}

.miniCompletedButton{
        font-size: 22px;
        color: #4B5C4E;
        background-color: #aabc85;
        padding: 2px 5px
    }
    
    
.miniCompletedItem .miniRemove{
        pointer-events: none;
        color: #aabc85;
}


.hDeadline-div, .rDeadline-div{
    width: 400px;
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    margin: 15px 0 0 25px;
    white-space: nowrap;
    font-size: 23px;
}

.rDeadline-div{
    margin-bottom: 15px;
}
.hopefulInput, .realisticInput{
    border-radius: 8px;
    width: 170px; /*find a why to make this a text box instead of one line */
    height: 35px;
    color: #E0EDC5;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    left: 20px;
    cursor: pointer;
    text-indent: 4px;
}

.realisticInput{
    left: 24px;
}

input::-webkit-calendar-picker-indicator{
    position: relative;
    right: 3px;
    background-color: #E0EDC5;
    border-radius: 6px;

}
input::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: #3b483d;
    color: #E0EDC5;
    border-radius: 3px;
}