*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw 4vw 0;
}

body{
  min-height: 100vh;
  background-image: linear-gradient(230deg, #558B6E, #E0EDC5);
  font-family: 'Poiret One', cursive;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  background-color: #3b483d;
  width: 5px;
}

body::-webkit-scrollbar-thumb{
  background-color: #E0EDC5;
  height: 10px;
  border-radius: 1px;
}

input,button{
  border: none;
}

/*nav*/
.logo{
  color: #e0edc4;
  text-shadow: #2a332b 1px 1px;
  flex: 1;
}

header{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logText, .tipLink{
  font-size: 1.1rem;
  color: #e0edc4;
  padding: 3px;
  border-bottom: 1px solid #e0edc4;
  background: linear-gradient(to top, #e0edc4 50%, transparent 0%);
  background-size: 200% 200%;
  background-position: top;
  transition: all .2s ease-in;
}

.logText:hover, .tipLink:hover{
  cursor: pointer;
  background-position: bottom;
  border-radius: 5px;
  color: #354137;
}

.tipLink{
  margin-right: .7rem;
}
/*Landing Page*/

.landingPageDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.landingPageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introTextSection{
  width: 85vw;
  color: #2a332b;
  animation: fadeIn 3s;
}

.landingTipsSection{
  width: 100vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landingSubHead{
  font-size: 5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.landingAbout{
  margin-top: 15px;
  font-size: 2.5rem;
}


/*loginCard*/

.loginScreen{
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(101, 101, 101, 0.537);
  backdrop-filter: blur(2px);
}
.loginCard{
  border-radius: 10px;
  width: 35vw;
  min-height: 55vh;
  padding: 1rem;
  background-color: #E0EDC5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginClose{
  width: 85%;
  display: flex;
  justify-content:end;
  color:#354137;
}

.close:hover{
  cursor: pointer;
}
.loginTitle{
  margin-bottom: 15px;
  font-family: 'Poiret One', cursive;
  color:#354137;
  font-size: 2rem;
  font-weight: 100;
}

.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInputSection{
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.loginInput{
  height: 7vh;
  outline: none;
  border-radius: 10px;
  color: #4B5C4E;
  font-family: 'Poiret One', cursive;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 3%;
  padding-left: 10px;
}
.loginInputButton{
  min-width: 10vw;
  height: 7vh;
  padding: 0 1vw;
  margin: 10px 0;
  background-color:#4B5C4E;
  color: #e0edc4;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  font-size: 1.3rem;
}

.createAccountDiv{
  width: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.createAccountButton{
  background-color: transparent;
  font-family: 'Poiret One', cursive;
  font-size: 1.1rem;
  border-bottom: .5px solid #4B5C4E;
}

.loginInputButton:hover, .createAccountButton:hover{
  cursor: pointer;
}
/*loading*/
.loading{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 4rem;
  color:#354137;
}

/*main page*/

.pageTitleDiv, .goalForm{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.pageTitleDiv{
  font-size: 2rem;
  color:#2a332b;
  margin-top: 20px;
}

.goalForm{
  padding: 10px;
  border-radius: 50px;
  margin: auto;
}

.inputSection{
  padding-left: 15px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border: solid 1px #E0EDC5;
  border-radius: 50px;
  
}

.goalInput{
  width: 40vw;
  height: 50px;
  outline: none;
  background-color: transparent;
  color: #4B5C4E;
  font-family: 'Poiret One', cursive;
  font-weight: 800;
  font-size: 23px;
}

.goalAddButton, .steppingStoneAddButton{
  border-radius: 50%;
  background-color: #E0EDC5;
  color: #4B5C4E;
}

.goalAddButton{
  width: 50px;
  height: 50px;
}

.goalAddButton:hover, .steppingStoneAddButton:hover{
  cursor: pointer;
}

/*tip card*/

.tipCard{
  width: 80vw;
  background-color: #2a332b;
  border-radius: 20px;
  color: #c1cda9;
  top: 0;
  margin-top: 10px;
  padding: 10px 20px;
}
.tipDiv{
  margin: 10px 0;
}

.tipTitle{
  font-size: 1.5rem;
}

.tipText{
  font-size: 1.2rem;
}
/*growing list section */
.listSection{
  width: 85%;
  min-height: 100px;
  margin: auto;
  padding: 10px 0 10px 0;
  border: solid 1px #558B6E;
  border-top: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:start;  
}

.goalContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5px 0;
}

.titleDiv{
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: #E0EDC5 3px solid;
  border-radius: 10px;
  color: #4B5C4E;
}

.checkedGoal{
  background-color: #4B5C4E;
  box-shadow: 4px 4px #3b483d;
  color: #e0edc4;
  border: none;
}

.titleText{
  flex: 1; 
  margin: 0 0 0 5px;
  font-size: 1.7rem;
  font-weight: 600;  
}

.listBtn, .listBtnS{
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin: 0px 10px;
  color: #3b483d;
  font-size: 1rem;
}

.listBtn:hover{
  cursor: pointer;
  color: #E0EDC5;
  transition: 1s;
}

.delete:hover{
  color: rgb(211, 28, 28);
}

.fa-check-double{
  color: #E0EDC5;
}

.fa-check-double:hover{
  color: #3b483d;
  transition: 1s;
}

.checkedHide{
  display: none;
}

/*details section*/
.detailsForm{
  width: 90%;
  margin: 5px 0 0 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #4B5C4E;
  border-radius: 10px;
  color: #E0EDC5;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 6px 6px #3b483d;
}
/*reason section*/
.reasonDiv{
  width: 90%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 0;
}

.reasonInput{
    width: 100%;
    min-height: 100px;
    margin-top: 5px;
    padding-left: 5px;
    outline: none;
    background: #4B5C4E;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Poiret One', cursive;
    color: #E0EDC5;
    overflow:auto;
    border: 2px solid #E0EDC5;;
    resize: none;
}

.reasonInput:focus{
  background-color: #E0EDC5;
  color: #3b483d;
}

.reasonInput::-webkit-scrollbar{
  background-color: #3b483d;
  width: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.reasonInput::-webkit-scrollbar-thumb{
  background-color: #E0EDC5;
  height: 10px;
  border-radius: 1px;
}

/*Stepping stones section*/

.steppingStoneSection{
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.steppingStoneInput{
  height: 30px;
  width: 91%;
  outline: none;
  background-color: transparent;
  color: #E0EDC5;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
}

.steppingStoneAddButton{
  width: 40px;
  height: 40px;
}

.steppingStoneListSection{
  width: 100%;
  min-height: 30px;
  margin: auto;
  padding: 10px 0 10px 0;
}

.steppingStoneDiv{
  width: 80%;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #E0EDC5;
  border-radius: 10px;
  color: #4B5C4E;
}

.checkedSteppingStone{
  background-color: #558B6E;
  box-shadow: #3b483d 2px 2px;
  color: #e0edc4;
}
.steppingStoneTitleText{
  flex: 1; 
  margin: 0 0 0 5px;
  font-size: 1.2rem;
  font-weight: 600; 
}

.listBtnS:hover{
  cursor: pointer;
  transition: 1s;
}

.checkS:hover{
  color: #43a570;
}
/*deadlines*/

.deadlineDiv{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom:double 2px #e0edc4;
}

.dateInput{
  background-color: transparent;
  color: #e0edc4;
  outline: none;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
}

.dateInput::-webkit-calendar-picker-indicator{
  font-size: 1.1rem;
  background-color: #e0edc4;
  border-radius: 3px;
}

.dateInput:hover, .dateInput::-webkit-calendar-picker-indicator:hover{
  cursor: pointer;
}

.dateInput::-webkit-datetime-edit-day-field:focus,
.dateInput::-webkit-datetime-edit-month-field:focus,
.dateInput::-webkit-datetime-edit-year-field:focus {
    background-color: #3b483d;
    color: #e0edc4;
    border-radius: 3px;
}

.detailBtnsDiv{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.detailBtn{
  margin: 15px 0;
  width: 8rem;
  height: 2rem;
  font-family: 'Poiret One', cursive;
  font-size: 1.5rem;
  font-weight: 500;
}

.detailBtn:hover{
  cursor: pointer;
  transition: .5s;
}
#update{
  background-color: #e0edc4;
  border-radius: 5px;
  color: #4B5C4E;
}

#update:hover{
  box-shadow: #bac5a2 2px 2px;
}

#cancel{
  border: 2px solid #e0edc4;
  border-radius: 5px;
  color: #e0edc4;
  background: linear-gradient(to right, #e0edc4 50%, transparent 0%);
  background-size: 300% 300%;
  background-position: right;
  transition: all .5s ease-in;
}

#cancel:hover{
cursor: pointer;
background-position: left;
color: #354137;
box-shadow: #bac5a2 2px 2px;
}

@media (max-width:1035px) {
  .loginCard{
    width: 50vw;
  }

  .loginInputButton{
    min-width: 20vw;
  }
  .list{
    flex-direction: column;
    align-items:center;  
  }
  
  .goalContainer{
    width: 100%;
  }
}

@media  (max-width:600px) {

  .introTextSection{
    width: 95vw;
  }

  .landingSubHead{
    font-size: 4rem;
  }
  .landingAbout{
    margin-top: 10px;
    font-size: 1.8rem;
  }

  .landingTipCard{
    width: 90vw;
  }
  
  .landingTipTitle{
    font-size: 2.2rem;
  }
  
  .landingTipText{
    font-size: 1.5rem;
  }

  .loginCard{
    width: 80vw;
    height: 47vh;
  }

  .titleDiv{
    height: 70px;
  }

  .titleText{
    font-size: 1.3rem;
  }

  .detailsForm{
    font-size: 1.1rem;
  }

  .reasonInput, .steppingStoneTitleText{
    font-size: 1rem;
  }

    
  .deadlineDiv, .dateInput{
    font-size: .8rem;
  }

  .dateInput::-webkit-calendar-picker-indicator{
    font-size: .6rem;
  }

  .detailBtn{
    width: 5rem;
    font-size: 1.2rem;
  }

}